{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'todolist/css/style.css' %}">
    <title>ToDo List</title>
</head>
<body>
    {% include 'todolist/header.html' %}
    <h4>Ajouter Les taches</h4>
    {% include 'todolist/formulaire.html' %}
    <table>
        <tr>
            <th>ID</th>
            <th>TACHES</th>
            <th colspan="2">ACTIONS</th>
        </tr>
        {% for tache in taches %}
        <tr>
            <th>{{ tache.id }}</th>
            <td>{{ tache.title }}</td>
            <td><a href="{% url 'edit' tache.id %}">Modifier</a></td>
            <td><a href="{% url 'delete' tache.id %}">Supprimer</a></td>
        </tr>
        {% endfor %}
    </table>
    {% include 'todolist/footer.html' %}
    <script src="{% static 'todolist/css/style.css' %}"></script>
</body>
</html>