{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'todolist/css/bootstrap.min.css' %}">
    <title>ToDo List</title>
</head>
<body>
    {% include 'todolist/header.html' %}
    {% include 'todolist/formulaire.html' %}
    <table class="container table table-striped">
        <thead>
            <tr>
                <th scope="col">TACHES</th>
                <th scope="col" colspan="2">ACTIONS</th>
            </tr>
        </thead>
        <tbody>
            {% for tache in taches %}
            <tr>
                <th scope="row">{{ tache.title }}</th>
                <td><a class="btn btn-primary" href="{% url 'edit' tache.id %}">Modifier</a></td>
                <td><a class="btn btn-danger" href="{% url 'delete' tache.id %}">Supprimer</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% include 'todolist/footer.html' %}
    <script src="{% static 'todolist/js/bootstrap.bundle.min.js' %}"></script>
</body>
</html>